*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#isThreadsDead {
    --accent: #d63384;

    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto 1rem;
    padding: 30px;
    background: white;
    z-index: 1;
    border: 3px solid black;
    text-align: center;
    margin-inline-start: 0;
    margin-inline-end: 0;

    h1 {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    code {
        color: var(--accent);
        font-size: 1rem;
    }

    .github {
        width: 0px;
        height:0px;
        border-bottom: 50px solid black;
        border-left: 50px solid transparent;
        bottom: 0;
        right: 0;
        position: absolute;
        color: white;
    
        &:hover {
            color: var(--accent);
        }

        [astro-icon] {
            width: 20px;
            height: 20px;
            position:absolute;
            padding:1%;
            bottom:-45px;
            right:3px;
        }
    }
}


@media (min-width: 576px) {
    #isThreadsDead {
        top: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 5rem;
        }
    }
}
